
        
<style>
    /* You can add global styles to this file, and also import other style files */
body
{
    margin: -10;
    padding: -10;
    
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}
p{
    color: white;
}
.regform
{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: rgba(56, 82, 153, 0.294);
    padding: 50px;
    margin: 2% auto 0;
    text-align: center;
}
label{
    color: white;
}





.loginform
{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}

.homeform
{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}

.regform h1{

    color: #ffffff;
    margin-bottom:30px;
}

.homeform h1{

    color: #44a6ec;
    margin-bottom:30px;
}

.loginform h1{

    color: #44a6ec;
    margin-bottom:30px;
}

.input-box
{
   border-radius: 20px; 
   padding:10px;
   margin:10px 0;
   width:100%;
   border:1px solid #999;
   outline:none;
}

button{

    color: white;
    width:50%;
    padding:10px;
    border-radius:20px ;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline:none;
    cursor: pointer;
}

.reg_btn
{
    background-color:#ec444c ;
}
.reg_btn:hover
{
    background-color:rgba(255, 255, 255, 0.144);
}

img
{
    width:100px ;
}

.container
{
    width:50%;
    margin:0 auto;
}
header
{
    background: rgba(255, 255, 255, 0.657);
}
nav ul{
    padding:0;
    list-style: none;
}

nav li{
display:inline-block;

;

}

nav a
{
    color:#44a6ec;
    text-decoration: none;
    text-transform: uppercase; 
}
nav a:hover{

    color:yellow;
    transition: .4s;

}
.logoI
{

    background-color: rgba(255, 255, 255, 0.568);
}
a{
    color:white ;
}
a:hover{
    color: blue;
}
h3{
    color: red;
}

</style>
  
    
 

        <section class="overlay">
        <div class="regform">
            <div class="logoI"><img src="assets\pictures\ICEP-Logo.png"></div>
        
            <h1>Create ICEP Profile</h1>
            
            

            <form name="userform">

                   <div class="form-group">
                    
                           
                                    <label> First Name:</label>
                                        <input [(ngModel)] ="createProf.first_name" type="text" #first_name="ngModel" name="firstname" class="input-box" placeholder="First Name" ng-model="firstname" required><br>
            
                                <div *ngIf = "first_name.errors && (first_name.dirty || first_name.touched)">
                   
                                    <h3 *ngIf="first_name.errors.required">*First Name is required</h3>
                        </div>
                                
                                    <label>Last Name:</label>
                                   
                                        <input [(ngModel)] ="createProf.last_name" #last_name="ngModel" type="text" name="lastname" class="input-box" placeholder="Last Name" required  ng-model="lastname" required ><br>
                                        <div *ngIf = "last_name.errors && (last_name.dirty || last_name.touched)">
                   
                                            <h3 *ngIf="last_name.errors.required">*First Name is required</h3>
                                </div>
                                  <label>Email:</label> &nbsp;
                          
                                  <input [(ngModel)] ="createProf.email" #email = "ngModel" type="email" name="email" class="input-box"  placeholder="Email" ng-model="email" required>
                                  <div *ngIf = "email.errors && (email.dirty || email.touched)">
                   
                                    <h3 *ngIf="email.errors.required">*First Name is required</h3>
                        </div>
                               
                                        <label>Password:</label>
                                   
                                        <input [(ngModel)] ="createProf.password" #password = "ngModel" type="password" name="password" class="input-box"  placeholder="Password here" ng-model="password" required>
                                        <div *ngIf = "password.errors && (password.dirty || password.touched)">
                   
                                            <h3 *ngIf="password.errors.required">*First Name is required</h3>
                                </div>
                            
                            
                            <button (click) = "createProfile()" type="submit" class="reg_btn" >Create Profile</button>
                            <div *ngIf ="showMsg">
                                <p><strong>Registration Successful!! </strong><a [routerLink]="'/login'">click here to login</a> </p>
                            </div>
                            <hr>
                            <p> already have a Profile? <a [routerLink]="'/login'">click here to login</a>
                   </div>
            </form>
            
        
            

            <hr>
           <p> &copy; all rights reserved</p>

           

           


        </div> 
    </section>



