
        
<style>
    /* You can add global styles to this file, and also import other style files */
body
{
    margin: -10;
    padding: -10;
    
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}
h3{
    color: red;
}
p{
    color: white;
}
.regform
{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: rgba(56, 82, 153, 0.294);
    padding: 50px;
    margin: 2% auto 0;
    text-align: center;
}
label{
    color: white;
}





.loginform
{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}

.homeform
{

    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 30px;
    margin: 8% auto 0;
    text-align: center;
}

.regform h1{

    color: #ffffff;
    margin-bottom:30px;
}

.homeform h1{

    color: #44a6ec;
    margin-bottom:30px;
}

.loginform h1{

    color: #44a6ec;
    margin-bottom:30px;
}

.input-box
{
   border-radius: 20px; 
   padding:10px;
   margin:10px 0;
   width:100%;
   border:1px solid #999;
   outline:none;
}

button{

    color: white;
    width:50%;
    padding:10px;
    border-radius:20px ;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline:none;
    cursor: pointer;
}

.reg_btn
{
    background-color:#ec444c ;
}
.reg_btn:hover
{
    background-color:rgba(255, 255, 255, 0.144);
}

img
{
    width:100px ;
}

.container
{
    width:50%;
    margin:0 auto;
}
header
{
    background: rgba(255, 255, 255, 0.657);
}
nav ul{
    padding:0;
    list-style: none;
}

nav li{
display:inline-block;

;

}

nav a
{
    color:#44a6ec;
    text-decoration: none;
    text-transform: uppercase; 
}
nav a:hover{

    color:yellow;
    transition: .4s;

}
.logoI
{

    background-color: rgba(255, 255, 255, 0.568);
}


</style>
  
    
 

        <section class="overlay">
        <div class="regform">
            <div class="logoI"><img src="assets\pictures\ICEP-Logo.png"></div>
        
            <h1>Application Form</h1>
            
            

            <form name="userform">

                   <div>
                    
                           
                                    <label> First Name:</label>
                                    
                                        <input [(ngModel)] ="applying.firstname" type="text" name="firstname" class="input-box" placeholder="First Name" #firstname="ngModel" required/><br>
                                        <div *ngIf = "firstname.errors && (firstname.dirty || firstname.touched)">
                   
                                                    <h3 *ngIf="firstname.errors.required">*First Name is required</h3>
                                        </div>
                                    <label>Last Name:</label>
                                   
                                        <input [(ngModel)] ="applying.lastname" type="text" name="lastname" #lastname = "ngModel" class="input-box" placeholder="Last Name" required  ng-model="lastname"required /><br>
                                        <div *ngIf = "lastname.errors && (lastname.dirty || lastname.touched)">
                   
                                            <h3 *ngIf="lastname.errors.required">*Last Name is required</h3>
                                </div>
                                    <label>Student No:</label>
                                    
                                        <input [(ngModel)] ="applying.studentno"type="number" size="9" #studentno="ngModel"name="studentnumber" class="input-box" placeholder="Student Number" ng-model="studentnumber" required /><br>
                                        <div *ngIf = "studentno.errors && (studentno.dirty || studentno.touched)">
                   
                                            <h3 *ngIf="studentno.errors.required">*Student number is required</h3>
                                </div>
                                     <label for="specialization">Specialization:</label>                                  
                                    
                                        <select [(ngModel)] ="applying.specialization" #specialization="ngModel" name="specialization" id="subject" required>
                                            <option value="" disabled selected hidden>Select</option>
                                            <option value="SOFTWARE DEVELOPMENT">SOFTWARE DEVELOPMENT</option>
                                            <option value="BUSINESS APPLICATIONS">BUSINESS APPLICATIONS</option>
                                            <option value="MULTIMEDIA">MULTIMEDIA </option>
                                            <option value="COMPUTER SYSTEMS">COMPUTER SYSTEMS</option>
                                          
                                        </select>
                                        <div *ngIf = "specialization.errors && (specialization.dirty || specialization.touched)">
                   
                                            <h3 *ngIf="specialization.errors.required">*Specialization is required</h3>
                                </div>
                                    
                               
                               
                               
            
                               
                                        <label>Cell No:</label>
                                   
                                        <input [(ngModel)] ="applying.mobileno" type="text" #mobileno="ngModel" size="10" name="mobileno" class="input-box" placeholder="Contact Number" ng-model="mobileno"required/><br>
                                        <div *ngIf = "mobileno.errors && (mobileno.dirty || mobileno.touched)">
                   
                                            <h3 *ngIf="mobileno.errors.required">*Cell Number is required</h3>
                                </div>
                                        <label>Email:</label> &nbsp;
                          
                                  
                                  <input [(ngModel)] ="applying.email" type="email" #email = "ngModel" name="email" class="input-box"  placeholder="Email" ng-model="email" required />
                                  <div *ngIf = "email.errors && (email.dirty || email.touched)">
                   
                                    <h3 *ngIf="email.errors.required">*Email is required</h3>
                        </div>
                              
                                
                                
                          
                            
                             <button (click) = "apply()" type="submit" class="reg_btn">APPLY</button> 
                            <div *ngIf ="showMsg">
                                <p class="alert alert-success">Application Submitted </p>
                            </div>
                          
                          
     
            
        
            

            <hr>
           <p> &copy; all rights reserved</p>

           

           


        </div> 
 



